body {
    min-height: 100vh;
}

html {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	color: #555;
	
}

.ml-6 {
    margin-left: 7rem;
}

ul,
nav {
	list-style: none;
}


section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}
/* LineBreaks Under Tite Heads */
hr {
	width: 250px;
	height: 3px;
	background-color: #000;
	border: 0;
	margin-bottom: 50px !important;
}

/* Header Section */
*/
.bg-cover {
	background-size: cover !important;
}
.jumbotron {
	  background: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	  ),url('https://images.pexels.com/photos/5211446/pexels-photo-5211446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed;
	padding-top: 10%;
	padding-bottom: 10%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	z-index: -1;
  }


  /*Features Section*/

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.features .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.features .grid li i {
	color: #000;
}

.features .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}

@media (max-width: 800px) {
	.features .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

/*Testimonials Section*/

.testimonials .quote {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
	margin: 40px 0 25px;
}

@media (max-width: 800px) {
	.testimonials .quote {
		font-size: 18px;
		margin: 15px 0;
	}

	.testimonials .author {
		font-size: 14px;
	}
}

/*Contact Section*/

.contact form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}

.contact form .btn {
	padding: 18px 42px;
}

.contact form input {
	padding: 15px;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
	flex: 1;
}

@media (max-width: 1000px) {
	.contact form input {
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}