.list-group-item .border-0 {
    list-style-type: disc !important;
    padding-left: 1em;
  }

.list-group-item::before {
    content: "â—";
    margin-right: 0.75rem;
  }

.tooltip .tooltip-inner{
    max-width: 600px;
  }