<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}


{% if request.environ.PATH_INFO != "/tcoursefilter/courses" %}
<div class="mt-5 d-flex justify-content-center">
    <h1 class="display-5">All Courses</h1>
</div>
{% for field in form.errors %}
    {% for error in form.errors[field] %}
        <div class="alert alert-error">
            <strong>Error!</strong>{{field}}: {{error}}
        </div>
    {% endfor %}
{% endfor %}

<form method="post">
    <div class="row">
        <div class="col-4">
        {{ form.hidden_tag() }}
            <span class="h6">{{form.department.label }}:</span> 
            {{ form.department() }}
        </div>
        <div class="col-8">
            <span class="h6">{{form.filter.label }}:</span> 
            {{ form.filter() }}
            {{form.submit()}} <br>
            <small>
                active means that there is a teacher associated with the course
            </small>
        </div>
    </div>
</form>

<div class="d-flex justify-content-center">
    <a href="/course/new" class="btn btn-primary btn-sm mt-5" role="button">New Course</a>
</div>
{% else %}
    <div class="d-flex justify-content-center">
        <h1 class="display-5">Courses with Teachers</h1>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/course/list">All Courses</a>
    </div>
{% endif %}
<table class="table">
{% if courses %}
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>A-G</th>
        <th>Level</th>
        <th>Pathway</th>
        <th>Grade Level</th>
        <th>Last Update</th>
    </tr>
    {% for course in courses | sort(attribute="course_department") %}
    <tr>
        <td>
            <a href="/course/{{course.id}}">{{course.course_number}}</a>
            {% if current_user.isadmin %}
                <a href="/course/edit/{{course.id}}"><img width="20" src="/static/edit.png"></a>
                <!-- <a href="/course/delete/{{course.id}}"><img width="20" src="/static/delete.png"></a> -->
            {% endif %} 
        </td>
        <td>
            {% if course.course_name %}
                {{course.course_name}}
            {% else %}
                {{course.course_title}}
            {% endif %}
        </td>
        <td>
            {% if course.course_department %}
                {{course.course_department}} 
            {% else %}
                ?
            {% endif %}
        </td>
        <td>
            {% if course.course_ag_requirement %}
                {{course.course_ag_requirement}} 
            {% else %}
                ?
            {% endif %}
        </td>
        <td>
            {% if course.course_difficulty %}
                {{course.course_difficulty}}
            {% else %}
                ?
            {% endif %}
        </td>
        <td>
            {% if course.course_pathway %}
                {{course.course_pathway}}
            {% else %}
                ?
            {% endif %}
        </td>
        <td>
            {% if course.course_gradelevel %}
                {{course.course_gradelevel}}
            {% else %}
                ?
            {% endif %}
        </td>
        <td>
            <small>{{moment(course.create_date).calendar()}}</small>
        </td>
    </tr>
    {% endfor %}
    {% else %}
        <tr>
            <td><h1>No Courses</h1></td>
        </tr>
    {% endif %}
</table>


{% endblock %}