<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}


<h1>Teachers</h1>
<h3>
    <a href="/teacher/list">All</a>
    {% for searchLetter in teacherFirstLetters %}
        <a href="/teacher/list/{{searchLetter}}">{{searchLetter}}</a>
    {% endfor %}
</h3>
<br> <br>


{% set ns = namespace(letter="") %}
<div class="row">
    {% for teacher in teachers %}
        {% if ns.letter != teacher.lname[0] %}
            <div class="col-12">
                {% set ns.letter = teacher.lname[0] %}
                <br>
                <h2>{{ns.letter}}</h2>
            </div>
        {% endif %}
        <div class="col-3">
            <h3><a href="/teacher/{{teacher.id}}" class="text-capitalize">{{teacher.fname}} {{teacher.lname}}</a></h3> 
        </div>
    {% endfor %}
</div>




{% endblock %}