<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}


<h1 class="text-center">Teachers</h1>
<h3 class="text-center">
    <a href="/teacher/list">All</a>
    {% for searchLetter in teacherFirstLetters %}
        <a href="/teacher/list/{{searchLetter}}">{{searchLetter}}</a>
    {% endfor %}
</h3>
<br> <br>


{% set ns = namespace(letter="") %}
<div class="row">
    {% for teacher in teachers %}
        {% if ns.letter != teacher.lname[0] %}
            <div class="col-12">
                {% set ns.letter = teacher.lname[0] %}
                <br>
                <h2>{{ns.letter}}</h2>
            </div>
        {% endif %}
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <h3>
                        <a href="/teacher/{{teacher.id}}" class="text-capitalize">{{teacher.fname}} {{teacher.lname}}</a>
                    </h3> 
                </div>
                <div class="col">
                    <small>
                        {% if teacher.late_work %}lw{% endif %}
                        {% if teacher.feedback %}fb{% endif %}
                        {% if teacher.classcontrol %}cc{% endif %}
                        {% if teacher.grading_policy %}gp{% endif %}
                    </small>
                </div>
            </div>
        </div>
    {% endfor %}
</div>




{% endblock %}